<style>

body {
    text-align: center;
    background-color: black;
    color: black;
    font-family: "Afacad Flux", serif;
    font-size: 25px;
    background: url("https://e1.pxfuel.com/desktop-wallpaper/109/77/desktop-wallpaper-professional-black-on-dog.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

h1 {
    border: solid white;
    border-radius: 15px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    opacity: 75%;
}


h2 {
    font-size: 25px;
    width: 50%;
    margin: auto;
    color: white;
    margin: block;
    background-color: black;
}

h3 {
    font-size: 40px;
    margin-bottom: 0; 
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin: block;
    margin-top: 15px;
}

.proj {
    border: white;
    border-radius: 15px;
    width: 25%;
    opacity: 75%;
    background-color: white;
    color: black;
}

.certs {

}

#secondary{
    border: solid 3px white;
    width: 350px;
}

a {
    color: black;
}

a:hover {
    font-weight: bold;
}

span {
    background-color: white;
}

#main {
    border: solid 5px white;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    border-radius: 15px;
}

#secondary {
    font-size: 25px;
    color: white;
    margin-left: 50%;
}

#mic {
    
}

</style>
